html,body{
    margin: 0px;
    padding: 0px;
    width: 1349px;
}

.banner{
    width: 1349px;
    height: 500px;

    background-repeat: no-repeat;
    background-color: aquamarine;
}
#about{
    position: relative;
    width: 500px;
    margin-top: 200px;
    margin-left: 200px; 
    background-color: rgba(0, 0, 0, 0.034); 
    font-weight: 500;
    font-size: 5em;
    text-align: center;
    margin-top: -330px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
}

#about-text{
    padding: 20px;
}
#banner-image{
    background-size: cover; 
    
}

#did-you-know{
    width: 600px;
    text-align: justify;
    float: left;
}
#our-mission{
    padding-top: 0.5px;
    text-align: justify;
    margin-left: 630px;
}