html,body{
    margin: 0px;
    padding: 0px;
    width: 1349px;
    font-family: fantasy;
}

.banner{
    width: 1349px;
    height: 500px;

    background-repeat: no-repeat;
    background-color: aquamarine;
}
#about{
    position: relative;
    width: 500px;
    margin-top: 200px;
    margin-left: 200px; 
    background-color: rgba(0, 0, 0, 0.034); 
    font-weight: 500;
    font-size: 5em;
    text-align: center;
    margin-top: -330px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
}

#about-text{
    padding: 20px;
}
#banner-image{
    background-size: cover; 
    
}

#did-you-know{
    width: 600px;
    text-align: justify;
    float: left;
}
#our-mission{
    padding-top: 0.5px;
    text-align: justify;
    margin-left: 630px;
}
#store-info{
    margin-top: 50px;
    background-color: rgba(71, 61, 139, 0.589);
    width: 100%;
    height: 300px;
    padding: 120px;
    
}
#store-info-image-world , #store-info-image-world , #store-info-image-costumers, #store-info-image-delivery{
    
    width: 300px;
    
    padding: 30px;
    float: left;
    
}
#store-info-world-text,{
    margin-top: 230px; 
    text-align: center;
    font-size: 1.4em;
    line-height: 15px;
}

#store-info-costumers-text,#store-info-delivery-text{
    
    text-align: center;
    font-size: 1.4em;
    line-height: 15px;
}
#store-info-image-world{
    height: 300px;
    font-family: fantasy;
}
#store-info-image-costumers{
    height: 360px;
}
#footer{
	width:1349px; 
	height:50px;
	background-color:green;
	float:left;
	margin-top:30px;
}